rootProject.name = '{{artifactId}}'

dependencyResolutionManagement {
    repositories {
        if (rootProject.privateRepoUrl) {
            maven {
                url rootProject.privateRepoUrl
                credentials {
                    username = rootProject.privateRepoUsername
                    password = System.env.PRIVATE_REPO_TOKEN
                }
            }
        }
        mavenLocal()
        mavenCentral()
        maven {
            url 'https://oss.sonatype.org/content/repositories/releases'
        }
        maven {
            url 'https://oss.sonatype.org/content/repositories/snapshots'
            mavenContent { snapshotsOnly() }
        }
        maven {
            url 'https://build.shibboleth.net/nexus/content/repositories/releases/'
            mavenContent { releasesOnly() }
        }
        maven {
            url "https://build.shibboleth.net/nexus/content/repositories/snapshots"
            mavenContent { snapshotsOnly() }
        }
        maven {
            url "https://repo.spring.io/milestone"
            mavenContent { releasesOnly() }
        }
    }
}
