initscript {
    repositories {
        gradlePluginPortal()
    }
    dependencies {
        classpath "org.openrewrite.rewrite:org.openrewrite.rewrite.gradle.plugin:{{openRewriteVersion}}"
    }
}

rootProject {
    plugins.apply(org.openrewrite.gradle.RewritePlugin)
    dependencies {
        rewrite("org.apereo.cas:cas-server-support-openrewrite:${project.targetVersion}") {
            transitive = false
        }
    }
    afterEvaluate {
        if (repositories.isEmpty()) {
            repositories {
                mavenLocal()
                mavenCentral()
            }
        }
    }
}
