initializr:
  boot-versions:
    - id: ${springBootLatestVersion}
      default: true
  env:
    boms:
      cas-bom:
        groupId: org.apereo.cas
        artifactId: cas-server-support-bom
        version: ${casLatestVersion}
cas-initializr:
  supported-versions:
    - version: 7.2.7
      platform-version: 7.2.0
      boot-version: 3.4.4
      sync: false
      validate: false
      branch: "7.2"
      type: cas
      tomcat-version: ${apacheTomcat10LatestVersion}
      java-version: 21
      graalvm-version: 21
      container-base-image: azul/zulu-openjdk:21
      gradle-version: "8.13"
      app-servers:
        - tomcat
        - jetty
        - undertow
      plugins:
        jib-version: ${jibVersion}
        open-rewrite-version: ${openRewriteVersion}
    - version: 7.3.4
      platform-version: 7.3.0
      boot-version: 3.5.6
      sync: true
      validate: true
      branch: "7.3"
      type: cas
      tomcat-version: ${apacheTomcat11LatestVersion}
      java-version: 21
      graalvm-version: 25
      container-base-image: azul/zulu-openjdk:21
      gradle-version: "9.1.0"
      app-servers:
        - tomcat
        - jetty
        - undertow
      plugins:
        jib-version: ${jibVersion}
        open-rewrite-version: ${openRewriteVersion}
    - version: ${casLatestVersion}
      platform-version: ${casLatestVersion}
      boot-version: ${springBootLatestVersion}
      sync: true
      validate: true
      branch: master
      type: cas
      tomcat-version: ${apacheTomcat11LatestVersion}
      java-version: 25
      graalvm-version: 25
      container-base-image: azul/zulu-openjdk:25
      gradle-version: "${gradleLatestVersion}"
      app-servers:
        - tomcat
        - jetty
      plugins:
        jib-version: ${jibVersion}
        open-rewrite-version: ${openRewriteVersion}
