initializr:
  boot-versions:
    - id: ${springBootLatestVersion}
      default: true
  env:
    boms:
      cas-bom:
        groupId: org.apereo.cas
        artifactId: cas-server-support-bom
        version: ${casLatestVersion}
      cas-mgmt-bom:
        groupId: org.apereo.cas
        artifactId: cas-mgmt-support-bom
        version: ${casManagementLatestVersion}
cas-initializr:
  supported-versions:
    - version: ${casManagementLatestVersion}
      boot-version: 2.7.1
      platform-version: 6.6.0
      sync: true
      validate: true
      branch: 6.6
      type: cas-mgmt
      tomcat-version: 9.0.84
      java-version: 11
      container-base-image: eclipse-temurin:11-jdk
      gradle-version: 7.6
      plugins:
        jib-version: 3.4.0
    - version: 6.6.15
      platform-version: 6.6.0
      boot-version: 2.7.3
      sync: false
      validate: false
      branch: 6.6
      type: cas
      tomcat-version: 9.0.84
      java-version: 11
      container-base-image: eclipse-temurin:11-jdk
      gradle-version: 7.6
      plugins:
        jib-version: 3.4.0
    - version: 7.0.0
      platform-version: 7.0.0
      boot-version: 3.2.1
      sync: true
      validate: true
      branch: 7.0
      type: cas
      tomcat-version: ${apacheTomcat10LatestVersion}
      java-version: 21
      container-base-image: azul/zulu-openjdk:21
      gradle-version: 8.5
      plugins:
        jib-version: ${jibVersion}
        open-rewrite-version: ${openRewriteVersion}
    - version: ${casLatestVersion}
      platform-version: ${casLatestVersion}
      boot-version: ${springBootLatestVersion}
      sync: true
      validate: true
      branch: master
      type: cas
      tomcat-version: ${apacheTomcat10LatestVersion}
      java-version: 21
      container-base-image: azul/zulu-openjdk:21
      gradle-version: 8.5
      plugins:
        jib-version: ${jibVersion}
        open-rewrite-version: ${openRewriteVersion}
