initializr:
  boot-versions:
    - id: ${springBootLatestVersion}
      default: true
  env:
    boms:
      cas-bom:
        groupId: org.apereo.cas
        artifactId: cas-server-support-bom
        version: ${casLatestVersion}
cas-initializr:
  supported-versions:
    - version: 7.0.10
      platform-version: 7.0.0
      boot-version: 3.2.1
      sync: true
      validate: true
      branch: "7.0"
      type: cas
      tomcat-version: ${apacheTomcat10LatestVersion}
      java-version: 21
      container-base-image: azul/zulu-openjdk:21
      gradle-version: "8.5"
      plugins:
        jib-version: ${jibVersion}
        open-rewrite-version: ${openRewriteVersion}
    - version: 7.1.5
      platform-version: 7.1.0
      boot-version: 3.3.3
      sync: true
      validate: true
      branch: "7.1"
      type: cas
      tomcat-version: ${apacheTomcat10LatestVersion}
      java-version: 21
      container-base-image: azul/zulu-openjdk:21
      gradle-version: "8.10"
      plugins:
        jib-version: ${jibVersion}
        open-rewrite-version: ${openRewriteVersion}
    - version: 7.2.0
      platform-version: 7.2.0
      boot-version: 3.4.4
      sync: true
      validate: true
      branch: "7.2"
      type: cas
      tomcat-version: ${apacheTomcat10LatestVersion}
      java-version: 21
      container-base-image: azul/zulu-openjdk:21
      gradle-version: "8.13"
      plugins:
        jib-version: ${jibVersion}
        open-rewrite-version: ${openRewriteVersion}
    # - version: ${casLatestVersion}
    #   platform-version: ${casLatestVersion}
    #   boot-version: ${springBootLatestVersion}
    #   sync: true
    #   validate: true
    #   branch: master
    #   type: cas
    #   tomcat-version: ${apacheTomcat10LatestVersion}
    #   java-version: 21
    #   container-base-image: azul/zulu-openjdk:21
    #   gradle-version: "${gradleLatestVersion}"
    #   plugins:
    #     jib-version: ${jibVersion}
    #     open-rewrite-version: ${openRewriteVersion}
